name: Clang-Tidy

on: [workflow_dispatch]
  # push:
  #   branches: [ main ]
  # pull_request:
  #   branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up CMake
      uses: cmake/setup-cmake@v1
      with:
        cmakeListsTxtPath: 'CMakeLists.txt'
        buildDir: 'build'
        installDir: 'install'
        cmakeArgs: '-DCMAKE_BUILD_TYPE=Release'

    - name: Build
      run: cmake --build build --config Release

    - name: Clang-Tidy
      run: |
        cd build
        cmake -DCMAKE_EXPORT_COMPILE_COMMANDS=ON ..
        clang-tidy -p . src/*
